.footer {
    &-wapper {
        background-color: rgb(36, 36, 36);
        color: #fff;
    }

    &-social {
        margin-top: 60px;
        display: flex;
        justify-content: space-around;

        &__item {
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 44px;
            border-radius: 100%;
            border: 1px solid rgb(168, 168, 168);
            font-size: 18px;

            &:hover {
                border: 1px solid rgb(255, 255, 255);
            }
        }
    }

    &-address {
        margin-top: 60px;

        p {
            font-size: 12px;
            font-weight: 300;
            color: rgb(156, 156, 156);
        }

        a {
            display: block;
            position: relative;
            color: rgb(255, 255, 255);
            height: 30px;
            font-weight: 500;

            &:hover {
                text-decoration: none;
            }

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                width: 0;
                height: 2px;
                background-color: #fff;
                transition-property: height;
                transition-delay: 1s;
                transform-style: linear;
                transition-duration: 0.5s;
            }

            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                width: 85%;
                height: 2px;
                background-color: rgb(65, 65, 65);
            }

            &:hover::after {
                transition-delay: .3s;
                transition-property: width;
                width: 85%;
            }
        }
    }

    &-contact {
        margin-top: 60px;

        &__email {
            color: rgb(156, 156, 156);
            font-size: 12px;

        }
    }

    &-nav {
        margin-top: 60px;

        &-links {
            display: flex;
            justify-content: space-around;

            &__item {
                font-size: 10px;

                a {
                    color: rgb(192, 192, 192);
                    text-transform: uppercase;
                }
            }
        }
    }

    &-info {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 12px;
    }
}

@include maxW(990px) {

    .footer-info{
    font-size: 10px;    
    }
    .footer-nav-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        text-align: center;
        font-size: 16px;
        &__item:nth-child(7) {
            grid-column: 1/4;
        }
    }

    .footer-contact__phone {
        font-size: 10px;
    }

    .footer-address a {
        height: 20px;
        font-size: 10px;
    }

    .footer-social {
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5px;

        &__item {
            font-size: 18px;
            margin: 0px 10px;
        }
    }

}


@include maxW(770px) {
    .footer {
        &-social {
            margin-left: 60px;
            margin-right: 60px;
        }

        &-info {
            flex-direction: column;
            font-size: 10px;
            text-align: center;
        }

        &-contact {
            text-align: center;

            p {
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 2px;
            }
        }

        &-address {
            text-align: center;

            p {
                font-size: 16px;
                font-weight: 500;
            }

            a {
                width: 130px;
                margin: 0 auto;

                &::before,
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

@include maxW(375px) {
    .footer {
        &-info {
            font-size: 10px;
            letter-spacing: 0;
        }

        &-social {
            margin-left: 10px;
            margin-right: 10px;
        }

        &-address {
            p {
                font-size: 12px;
            }
        }

        &-contact {
            p {
                font-size: 12px;
            }
        }

        &-nav-links {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: 10px;
            text-align: center;
            font-size: 16px;

            &__item:nth-child(7) {
                grid-column: 1/4;
            }
        }
    }
}